@import "@var";
@import "@mixin";

.footer {
  background-color: $colorGray500;
  margin-top: 100px;
}

@include subDesktop {
  .footerLogo {
    display: none;
  }
}

.footerTop {
  position: relative;
  padding: 40px 0 10px 0;
  display: flex;
  gap: 64px;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #fff;
  @include mobile {
    padding: 20px 0 0px 0;
  }
}

.footerColumns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  @include mobile {
    gap: 10px;
  }
  @include mobile {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.footerList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
  @include mobile {
    flex-direction: row;
    align-items: center;
    margin-bottom: 33px;
    gap: 10px;
  }
}

.footerContact {
  display: flex;
  align-items: center;
  gap: 9px;
  word-break: break-all;
}

.footerIcons {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
  position: absolute;
  bottom: 0;
  @include mobile {
    justify-content: start;
  }
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 0;
}

.footerBottomLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: underline;
  color: $colorWhite;
}

.footerTypography {
  transition: color 0.3s ease;
  text-align: left;
  white-space: nowrap;
}

.footerTypography:hover {
  color: $colorPrimary;
  cursor: pointer;
}
