@import "@var";
@import "@classes";
@import "@mixin";

.footer {
  background-color: $colorGray500;
  margin-top: 100px;

  &Container {
    display: flex;
    flex-direction: column;
  }

  &Top {
    padding: 40px 0 10px 0;
    display: flex;
    gap: 64px; /* Adjust gap for better spacing at 1050px */
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #fff;
    margin: 0 60px;
  }

  &Navigate {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  &Option {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
    padding-top: 50px;

    &::before {
      content: attr(data-title);
      position: absolute;
      top: 0;
      font-size: 20px;
      font-weight: 700;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  &Icons {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .footerSocials {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 16px;
    border-bottom: 1px solid $colorGray400;
    padding-bottom: 16px;
    width: 100%;

    li {
      margin-right: 5px; /* Optional: Add margin to adjust icon spacing */
    }
  }

  &Bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 0;

    &Link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      text-decoration: underline;
      color: $colorWhite;
    }
  }

  &Link {
    padding: 0;
  }

  &Typography {
    transition: color 0.3s ease;
    &:hover {
      color: $colorPrimary;
    }
  }

  @include isDesktop {
    &Logo {
      display: none;
    }
  }

  @include tablet {
    &Logo {
      display: none;
    }

    &Top {
      margin: 0 30px;
    }

    &Option {
      &::before {
        font-size: 16px;
      }
    }
  }

  @include mobile {
    &Logo {
      display: none;
    }

    &Top {
      margin: 0;
      padding: 20px 0;
    }

    &Navigate {
      flex-direction: column;
      gap: 0;
    }

    &Option {
      flex-direction: row;
      align-items: center;
      margin-bottom: 28px;
      padding-top: 40px;

      li {
        margin: 0 10px 10px 0;
      }

      &::before {
        font-size: 14px;
      }
    }

    &Icons {
      left: 0;
    }
  }
}
