@import "@var";
@import "@classes";

.footer {
  background-color: $colorGray500;
  margin-top: 100px;
  &Container {
    display: flex;
    flex-direction: column;
  }
  &Top {
    padding: 40px 0 20px 0;
    display: flex;
    gap: 96px;
    justify-content: space-between;
    align-items: flex-start;
  }
  &Navigate {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
  }
  &Option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 18px;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
    }
  }
  &Socials {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 16px;
    border-bottom: 1px solid $colorGray400;
    padding-bottom: 16px;
    width: 100%;
  }
  &Bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 0;
  }
  &Link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-decoration: underline;
    color: $colorWhite;
  }
}
@media (max-width: 744px) {
  .footerLogo {
    display: none;
  }
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .footerTop {
    display: flex;
    justify-content: space-between;
  }

  .footerNavigate {
    display: flex;
    justify-content: space-between;
  }
  .footerSocials {
    margin: 20px 0;
  }
}
@media (max-width: 360px) {
  .footerLogo {
    display: none;
  }

  .footerTop {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footerNavigate {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
  }

  .footerSocials {//footer
    margin: 10px 0;//why
  }
}
