@import '../../app/styles/index.scss';

.footer {
  background: $colorGray500;
  padding: 86px 0;
  &__container {
    max-width: 1170px;
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 32px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__center {
    display: flex;
    gap: 110px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: $colorWhite;
      @include tablet {
        gap: 10px;
      }
    }
    li {
      list-style-type: none;
      @include tablet {
        font-size: 16px;
      }
    }
    @include tablet {
      gap: 30px;
    }
  }
  &__right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    color: $colorWhite;
    a {
      color: $colorWhite;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 26px;
    }
  }
  &__contact {
    color: $colorWhite;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    margin-top: 82px;
    @include tablet {
      margin-top: 10px;
    }
  }
  @include tablet {
    padding: 60px 0;
  }
}
