@import "@var";

.breadcrumbs {
  display: flex;

  &Content {
    display: flex;
    align-items: center;
    max-width: $containerMaxWidth;
    width: 100%;
    margin: 0 auto;
    padding: 5px $containerPadding;
  }
  &Link {
    text-decoration: none;
    color: $colorGray200;
    margin: 0 10px;
  }
}
