@import '@styles';

.Select{
    max-width: $containerMaxWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    margin-bottom: 60px;
    box-shadow: 0px 0.5740740895271301px 3.1481480598449707px 0px #1B1B1B;
    padding: 20px;
    border-radius: 12px;
    height: 75px;
    &__city{
        color: white;
        background: #3C3C3C;
        padding: 5px 10px;
        border-radius: 20px;
        height: 35px;
        button{
            color:white;
            display: flex;
            justify-content: space-between;
            width: 170px;
        }
    }
    &__city__active{
        color: white;
        background: #3C3C3C;
        padding: 5px 10px;
        border-radius: 20px;
        height: 140px;
        button{
            color:white;
            display: flex;
            justify-content: space-between;
            width: 170px;
        }
    }
    &__options__active{
        display: block;
        padding: 10px 0;
        ul{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        li{
            list-style: none;
        }
    }
    &__options{
        display: none;
        padding: 10px 0;

        ul{
            display: flex;
            gap: 10px;
            align-items: center;
            input[type="checkbox"]:checked{
                background: #1B1B1B;
            }
        }
        li{
            list-style: none;
        }
    }
    
    &__type{
        color: white;
        background: #3C3C3C;
        padding: 5px 10px;
        border-radius: 20px;
        height: 35px;
        button{
            color:white;
            display: flex;
            justify-content: space-between;
            width: 170px;
        }
    }
    &__popular{
        color: white;
        background: #3C3C3C;
        padding: 5px 10px;
        border-radius: 20px;
        height: 35px;
        button{
            color:white;
            display: flex;
            justify-content: space-between;
            width: 170px;
        }
    }
    &__btn{
        background-color: #C6A15B;
        width: 170px;
        height: 40px;
        border-radius: 50px;
    }
    
}