@import '../../../app/style/variables';

.dcb {
  margin: 82px 0;
  &__container {
    max-width: 562px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
}