@import '../../app/style/variables';

.locate {
  display: flex;
  align-items: center;
  gap: 12px;
  color: $black;
  &__text {
    font-size: $font-size-p;
    font-weight: $font-medium;
    @media all and (max-width: 479.98px) {
      font-size: $font-size-h4;
    }
  }
}