@import '../../app/style/variables';

.hero {
  width: 100%;
  background-color: $gray;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 785px;
    gap: 139px;
  }
  &__title {
    max-width: 758px;
    color: $white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.17;
  }
}
