@import '../../../app/style/variables';
@import '../../../app/style/mixins';

.button {
  display: flex;
  align-items: center;
  gap: 12px;
  background: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: $base-font-size;
  &--primary {
    background-color: $system-green;
    padding: 14px 36px;
    color: $white;
    text-decoration: none;
  }
  &--secondary {
    background-color: $black;
    padding: 14px 36px;
    color: $white;
  }
  &--icon {
    padding: 14px 14px;
    background-color: transparent;
    color: $black;
  }
}
