@import '../../../app/styles/index.scss';

.button {
  &-common-styles {
    padding: 16px 24px;
		border-radius: 56px;
		font-weight: 500;
		cursor: pointer;
		transition: .3s ease;
		display: flex;
		align-items: center;
		gap: 8px;
		@include Body;
		@include tablet {
			@include MBody;
		}
  }

  &-primary-btn {
		border: .5px solid $colorGray450;
		@extend .button-common-styles;
		background-color: $colorPrimary;
		color: $colorBlack;
		&:hover {
			color: $colorWhite;
		}
  }

  &-secondary-btn {
		border: .5px solid $colorGray450;
    @extend .button-common-styles;
		background-color: $colorGray500;
		color: $colorWhite;
		&:hover {
			background-color: $colorGray450;
		}
  }

  &-link-btn {
    @extend .button-common-styles;
		text-decoration: none;
		color: $colorWhite;
		&:hover {
			color: $colorPrimary;
		}
  }

  &-icon-btn {
    // ... (unchanged)
  }

  &-small {
    // ... (unchanged)
  }

  &-medium {
    // ... (unchanged)
  }

  &-large {
    // ... (unchanged)
  }

  &-contained {
    // ... (unchanged)
  }

  &-outlined {
    // ... (unchanged)
  }
}