@import '../../../app/style/variables';
@import '../../../app/style/mixins';

$font-size-small: 13px;
$font-size-medium: 17px;
$font-size-large: 20px;

.button {
  &-common-styles {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    border-radius: 14px;
    font-weight: $medium-weight;
    font-size: $font-size-medium;
    outline: none;
    transition:
      background-color $transition-duration,
      color $transition-duration,
      transform $transition-duration;
    position: relative;
    @include tablet {
      border-radius: 50%;
    }
    &:hover {
    }

    &.loading {
      pointer-events: none;
    }

    &.icon-right {
      flex-direction: row-reverse;
    }
  }

  &-primary-btn {
    @extend .button-common-styles;
    background-color: $black;
    color: $white;
    padding: 14px 20px;
    &:hover {
      background-color: darken($black, 10%);
    }
  }

  &-secondary-btn {
    @extend .button-common-styles;
    color: $black;
    padding: 14px 20px;
    &:hover {
      background-color: darken($white, 10%);
    }
  }

  &-link-btn {
    @extend .button-common-styles;
    background-color: $system-green;
    color: $white;
    padding: 14px 20px;
    &:hover {
      text-decoration: underline;
    }
    @include tablet {
      padding: 5px 5px;
      background: linear-gradient(180deg, #114109 0%, #1F880F 100%);
    }
  }

  &-icon-btn {
    @extend .button-common-styles;
    background-color: transparent;
    color: $black;
    padding: 14px 14px;
    &:hover {
      background-color: rgba($black, 0.1);
    }
    span {
      margin-left: 0.5rem;
    }
  }

  &-small {
    font-size: $font-size-small;
  }

  &-medium {
    font-size: $font-size-medium;
  }

  &-large {
    font-size: $font-size-large;
  }

  &-contained {
    padding: 0.5rem 1rem;
  }

  &-outlined {
    border: 2px solid;
    padding: 0.5rem 1rem;
  }

  &.loader {
  }
}

// Media Queries
@include tablet {
  .button {
    &-common-styles {
      font-size: $font-size-small;
    }
  }
}

@include desktop {
  .button {
    &-common-styles {
      font-size: $font-size-medium;
    }
  }
}
