@import '@var';
@import '@classes';

.menuDropdown {
  padding: 24px 0;
  background: $colorGray500;
  border-radius: 0px, 0px, 25px, 25px;
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  z-index: 998;
  &Container {
    display: flex;
    gap: 16px;
  }
  &.open {
    visibility: visible;
  }
  &.close {
    visibility: hidden;
  }
}

.menuLeft {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	padding: 16px 56px 16px 0;
	border-right: 1px solid $colorGray450;
	width: 20%;
	&Button {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&Typography {
		&.active {
			color: $colorPrimary;
		}
		&.default {
			color: $colorWhite;
		}
	}
}
