@import "@var";

.menuDropdown {
  max-height: 768px;
  padding: 24px 0;
  background: $colorGray500;
  border-radius: 0px, 0px, 25px, 25px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 996;
  transition: 0.7s ease;
  &Container {
    display: flex;
    gap: 16px;
    left: 0;
    right: 0;
  }
  &.open {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
  }
  &.close {
    top: -1000px;
  }
}
