@import '@styles';

.menuDropdown {
	padding: 24px 0;
	background: #272727b9;
	border-radius: 0px, 0px, 25px, 25px;
	-webkit-backdrop-filter: blur(10px); /* Required for Safari */
  backdrop-filter: blur(10px);
	position: absolute;
	top: 58px;
	left: 0;
	right: 0;
	z-index: 998;
	&Container {
		display: flex;
		gap: 16px;
	}
	&.open {
		visibility: visible;
	}
	&.close {
		visibility: hidden;
	}
}
