@import '@var';
@import '@classes';

.menuDropdown {
  padding: 24px 0;
  background: $colorGray500;
  border-radius: 0px, 0px, 25px, 25px;
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  z-index: 998;
  &Container {
    display: flex;
    gap: 16px;
  }
  &.open {
    visibility: visible;
  }
  &.close {
    visibility: hidden;
  }
}
