@import "@var";
@import "@mixin";

.menuLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 56px 16px 0;
  border-right: 1px solid $colorGray450;
  width: 20%;
  overflow-y: scroll;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  ::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &Button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    :hover {
      color: $colorPrimary;
    }
    @include isDesktop {
      padding: 0;
    }
    @include tablet {
      padding: 0;
    }
    @include mobile {
      padding: 0;
    }
  }
  &Typography {
    &.active {
      color: $colorPrimary;
    }
    &.default {
      color: $colorWhite;
    }
  }

  @include isDesktop {
    border: none;
    padding: 0;
    gap: 12px;
    padding-left: 15px;
  }
  @include tablet {
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 0;
    gap: 12px;
    padding-left: 15px;
    color: $colorGray100;
  }
  @include mobile {
    border: none;
    padding: 0;
    gap: 12px;
    padding-left: 15px;
  }
}
