@import "./variables";

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: $baseFontFamily;
  color: $colorWhite;
}
[class*="Container"] {
  max-width: $containerMaxWidth;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

%smoothscroll {
  -webkit-overflow-scrolling: touch;
}

%hidescroll {
  &::-webkit-scrollbar {
    display: none;
  }
}
