@import "./variables";

// Adaptive
@mixin mobile {
  @media (max-width: $mobileBreakpoint) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $mobileBreakpoint) and (max-width: $tabletBreakpoint) {
    @content;
  }
}
@mixin isDesktop {
  @media (max-width: $tabletBreakpoint) and (max-width: $desktopBreakpoint) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $tabletBreakpoint) {
    @content;
  }
}

@mixin scroll {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
