// Container Dimensions
$containerMaxWidth: 1186px;
$containerPadding: 16px;

// Typography
$baseFontFamily: "Montserrat", sans-serif;
// FontWeight
$weightRegular: 400;
$weightMedium: 500;
$weightSemibold: 600;
$weightBold: 700;

// Color
$colorPrimary: #c6a15b;
$colorSecondary: #60543d;
// BaseColor
$colorWhite: #ffffff;
$colorBlack: #000000;
// GrayLevel
$colorGray100: #b9bcbe;
$colorGray200: #999999;
$colorGray300: #4c4c4c;
$colorGray350: #6b6a6a;
$colorGray400: #272727;
$colorGray450: #343434;
$colorGray500: #1b1b1b;
$colorGray550: #1f1f1f;

$colorBackgroundSelect: #252525e3;

// Define breakpoints
$mobileBreakpoint: 576px;
$tabletBreakpoint: 834px;
$desktopBreakpoint: 1128px;
$largeDesktopBreakpoint: 1200px;

// Animate
$transitionDuration: 0.3s;
