@import '../../../app/style/variables';
@import '../../../app/style/mixins';

.hr {
  margin: 82px 0;
  &__container {
    max-width: 1170px;
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 32px;

    display: flex;
    flex-direction: column;
    gap: 56px;
    @include tablet {
      gap: 20px;
    }
  }
  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 56px;
  }
  &__right {
    min-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
  }
  &__option {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__option_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid $system-gray;
  }
  &__images {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 26px;
    height: 468px;
    img {
      height: 100%;
      width: 100%;
    }
    &__item {
      width: 100%;
      height: 100%;
      background-color: $system-gray;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 26px;
      width: 100%;
      height: 100%;
      @include tablet {
        display: none;
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 56px;
  }
  @include tablet {
    margin: 50px 0;
  }
}
