@import '../../app/styles/index.scss';

.header {
	background-color: $colorGray500;
	height: 60px;
	border-bottom: .5px solid $colorGray450;
	&__logo {
		cursor: pointer;
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	&__actions {
		display: flex;
		align-items: center;
		gap: 36px;
	}
}