@import '../../app/styles/index.scss';

.header {
  width: 100%;
  padding: 26px 0;
  background-color: $colorGray500;
  height: 110px;
  @include tablet {
    height: 76px;
  }
  &__container {
    max-width: 1170px;
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      padding: 0 16px;
    }
  }
  &__logo {
    @include tablet {
      svg {
        width: 46px;
        height: 36px;
      }
    }
  }
  &__options {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__lang {
    @include desktop {
      display: none;
    }
    @include tablet {
    }
  }
  @include tablet {
    padding: 0px 0;
  }
  &__whatsapp {
    @include tablet {
      display: block;
      position: fixed;
      top: 400px;
      right: 20px;
      p {
        display: none;
      }
    }
    @include mobile {
      display: block;
      position: fixed;
      top: 400px;
      right: 20px;
      p {
        display: none;
      }
    }
  }
}
