@import '../../../app/style/variables';
@import '../../../app/style/mixins';

.igh {
  width: 100%;
  padding: 82px 0;
  @include tablet {
    width: 250%;
  }
  &__container {
    max-width: 1170px;
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 32px;

    display: flex;
    flex-direction: column;
    gap: 56px;
    @include tablet {
      box-sizing: border-box;
      max-width: 2000px;
    }
  }
  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__img {
    display: flex;
    flex-direction: column;
    gap: 26px;
    @include tablet {
      position: relative;
      right: 355px;
    }
  }
  &__img_wrapper {
    display: flex;
    align-items: center;
    gap: 26px;
    @include tablet {
      display: flex;
      align-items: flex-end;
    }
  }
  &__img_item {
    height: 440px;
    width: 100%;
    background-color: $system-gray;
    border-radius: 24px;
    position: relative;
    img {
      width: 100%;
      width: 100%;
    }
    @include tablet {
      height: 320px;
      width: 120%;
    }
  }
  &__img_item_mb {
    height: 440px;
    width: 100%;
    background-color: $system-gray;
    border-radius: 24px;
    position: relative;
    display: none;
    img {
      width: 100%;
      width: 100%;
    }
    @include tablet {
      display: block;
      width: 120%;
      height: 380px;
    }
  }
  &__img_item_pc {
    height: 440px;
    width: 100%;
    background-color: $system-gray;
    border-radius: 24px;
    position: relative;
    img {
      width: 100%;
      width: 100%;
    }
    @include tablet {
      display: none;
    }
  }
  &__left_right {
    display: none;
    @include tablet {
      display: block;
    }
  }
  &__left {
    position: absolute;
    top: 133%;
    left: 25px;
  }
  &__right {
    position: absolute;
    top: 133%;
    right: 25px;
  }
}
