@import '../../app/styles/index.scss';

.search {
	 display: flex;
	 align-items: center;
	 justify-content: flex-start;
	 gap: 4px;
	 background-color: $colorGray300;
	 border: .5px solid $colorGray350;
	 border-radius: 24px;
	 padding: 8px 12px;
	 max-width: 220px;
	 &__input {
		 @include Caption1;
		color: $colorGray100;
		font-weight: 500;
		width: 100%;
	 }
}