@import "@var";

.searchForm {
  --input-size: 40px;
  height: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  background-color: $colorGray500;
}

.searchLabel {
  position: relative;
  height: var(--input-size);
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  height: 100%;
  min-width: 0px;
  padding-left: 15px;
  padding-right: 5px;
  font-size: 20px;
  color: $colorGray100;
  font-weight: 500;
  margin-right: calc(0px - var(--input-size));
  padding-right: var(--input-size);
  background-color: $colorGray300;
  border-radius: 24px;
}

.searchButton {
  flex-shrink: 0;
  height: var(--input-size);
  width: var(--input-size);
  border-radius: var(--input-size);
  border: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton:hover {
  cursor: pointer;
  color: $colorPrimary;
}

.searchButton:active {
  background-color: $colorGray350;
}

@media (max-width: 500px) {
  .searchForm {
    max-width: none;
  }
  .searchInput {
    padding: 0;
    width: 0px;
    background-color: transparent;
  }
  .searchInput:focus,
  .searchInput:not(:placeholder-shown) {
    background-color: $colorGray300;
    padding-left: 15px;
    padding-right: var(--input-size);
    width: 100%;
  }
}
