@import '../../../app/styles/index.scss';

.input-wrapper {
  margin-top: 20px;
  input {
    width: 100%;
    background: $colorWhite;
    border: none;
    border-bottom: 1px solid $colorBlack;
    padding: 10px 14px;
    outline: none;
    &::placeholder {
      border: none;
    }
    &:focus {
      border-bottom: 1px solid $colorBlack;
    }
  }
}
