@import "@var";
@import "@classes";
@import "../../app/styles/assets/variables";
@import "../../app/styles/assets/mixins";
.benefits {
  display: grid;
  gap: 15px;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  &Item{
    padding: 20px 20px;
    border-radius: 15px;
    background-color: $colorGray500;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  &Title {
    color: $colorPrimary;
  }
  &Body{
    text-align: center;
  }
}
