@import "@var";
@import "@classes";
@import "@mixin";

.header {
  background-color: $colorGray500;
  height: 60px;
  border-bottom: 0.5px solid $colorGray450;
  position: relative;

  &Logo {
    cursor: pointer;
  }
  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &Input {
    display: flex;
    align-items: center;
    gap: 32px;

    @include tablet {
      &.active {
        display: none;
      }
    }
    @include mobile {
      &.active {
        display: none;
      }
    }
  }
  &Navbar {
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  &Actions {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  &Menu {
    color: $colorWhite;
    display: none;
    @include tablet {
      display: flex;
    }
    @include mobile {
      display: flex;
    }
  }
}
