@import "@var";
@import "@mixin";

.header {
  position: relative;
  height: 60px;
  border-bottom: 0.5px solid $colorGray450;
  z-index: 10;
  background-color: $colorGray500;
}

.headerContainer {
  position: relative;
  background-color: $colorGray500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  z-index: 2;
}

.searchSection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  @include mobile {
    gap: 20px;
  }
  pointer-events: none;
  & > * {
    pointer-events: all;
  }
}

@media (max-width: 500px) {
  .searchSection {
    padding-inline: $containerPadding;
    position: absolute;
    inset: 0;
  }
}

.burgerButton {
  color: white;
  cursor: pointer;
  :hover {
    color: $colorPrimary;
  }
}

.dropdown {
  position: absolute;
  bottom: 0;
  background-color: $colorGray500;
  z-index: 1;
  width: 100%;
  transition: transform 300ms ease-in-out;
}

.dropdown.active {
  transform: translateY(100%);
}
