@import "@var";
@import "@mixin";

.header {
  height: 60px;
  border-bottom: 0.5px solid $colorGray450;
  z-index: 9999;

  &Logo {
    cursor: pointer;
  }
  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: $colorGray500;
  }
  &Navbar {
    max-width: 800px;
    width: 100%;
    @include isDesktop {
      display: none;
    }
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  &Actions {
    display: flex;
    align-items: center;
    gap: 36px;

    .main {
      display: flex;
      align-items: center;
      gap: 36px;

      @include isDesktop {
        &.active {
          display: none;
        }
      }
      @include tablet {
        &.active {
          display: none;
        }
      }
      @include mobile {
        &.active {
          display: none;
        }
      }
    }
  }
  &Menu {
    color: $colorWhite;
    display: none;
    @include isDesktop {
      display: flex;
    }
    @include tablet {
      display: flex;
    }
    @include mobile {
      display: flex;
    }
  }

  @include tablet {
    .menuDropdown {
      display: none;
    }
  }
  @include mobile {
    .menuDropdown {
      display: none;
    }
  }

  @include desktop {
    .menuDropdownMobile {
      display: none;
    }
  }
}

.header:has(.isCityhovered:hover) .menuDropdown {
  top: 0px;
}
.menuDropdown:hover {
  top: 0px;
}

.menuDropdown[close="true"] {
  top: -1000px;
}

.menuDropdown {
  z-index: -20;
  max-height: 768px;
  padding: 24px 0;
  background: $colorGray500;
  border-radius: 0px, 0px, 25px, 25px;
  position: relative;
  left: 0;
  right: 0;
  transition: 0.7s ease;
  &Container {
    display: flex;
    gap: 16px;
    left: 0;
    right: 0;
  }
  top: -1000px;
}
