@import "@var";

.description {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
}

.descriptionItem {
  padding-block: 10px;
}

.text {
  padding-block: 20px;
}

.slider {
  background-color: #60543d;
}

.sliderImg {
  height: 555px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel {
  margin-top: 10px;
}

.carouselSlide {
  width: auto;
}

.carouselImg {
  height: 200px;
  width: 370px;
  object-fit: cover;
  object-position: center;
}

.activeSlideImage {
  border: 5px solid #c6a15b;
}

.priceRow {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}
