@import "@var";

.slider {
  background-color: #60543d;
}

.sliderImg {
  height: 555px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel {
  margin-top: 10px;
}

.carouselSlide {
  width: auto;
}

.carouselImg {
  height: 200px;
  width: 370px;
  object-fit: cover;
  object-position: center;
}

.activeSlideImage {
  border: 5px solid #c6a15b;
}
