@import '../../../app/style/variables';
@import '../../../app/style/mixins';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $black;

  @include tablet {
    font-size: $tablet-font-size;
  }

  @include desktop {
    font-size: $desktop-font-size;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-family;
  color: $black;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-family;
  color: $black;
}

h1 {
  font-size: $heading1-font-size;
  font-weight: $bold-weight;
  line-height: $heading-line-height;
}

h2 {
  font-size: $heading2-font-size;
  font-weight: $bold-weight;
  line-height: $heading-line-height;
}

h3 {
  font-size: $heading3-font-size;
  font-weight: $bold-weight;
  line-height: $heading-line-height;
}

h4 {
  font-size: $heading4-font-size;
  font-weight: $bold-weight;
  line-height: $heading-line-height;
}

h5 {
  font-size: $heading5-font-size;
  font-weight: $bold-weight;
  line-height: $heading-line-height;
}

.regular {
  font-weight: $regular-weight;
}

.bold {
  font-weight: $bold-weight;
}

.large-line-height {
  line-height: 1.8;
}

.small-line-height {
  line-height: 1.2;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: $container-padding;
}

.extra-padding {
  padding: 30px;
}

.small-padding {
  padding: 10px;
}
