@import "@var";
@import "@mixin";

// Size & Type
.large {
  font-size: 90px;
  @extend .bold;
  @include tablet {
    font-size: 44px;
  }
  @include mobile {
    font-size: 44px;
  }
}
.h1 {
  font-size: 42px;
  @extend .bold;
  @include tablet {
    font-size: 28px;
  }
  @include mobile {
    font-size: 28px;
  }
}
.h2 {
  font-size: 36px;
  @extend .bold;
  @include tablet {
    font-size: 26px;
  }
  @include mobile {
    font-size: 26px;
  }
}
.h3 {
  font-size: 28px;
  @extend .semibold;
  @extend .gold;
  @include tablet {
    font-size: 23px;
  }
  @include mobile {
    font-size: 23px;
  }
}
.button {
  font-size: 24px;
  @extend .regular;
  @include tablet {
    font-size: 14px;
  }
  @include mobile {
    font-size: 14px;
  }
}
.body {
  font-size: 20px;
  @extend .regular;
  @extend .white;
  @include tablet {
    font-size: 14px;
  }
  @include mobile {
    font-size: 14px;
  }
}

// Weight
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

// Color
.black {
  color: $colorBlack;
}
.white {
  color: $colorWhite;
}
.gold {
  color: $colorPrimary;
}
