@import '@styles';

// Size & Type
.H1 {
	font-size: 90px;
}
.H2 {
	font-size: 40px;
}
.H3 {
	font-size: 36px;
}
.H4 {
	font-size: 28px;
}
.Button {
	font-size: 24px;
}
.Body {
	font-size: 20px;
}

// Weight
.regular {
	font-weight: 400;
}
.medium {
	font-weight: 500;
}
.semibold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}

// Color
.black {
	color: $colorBlack;
}
.white {
	color: $colorWhite;
}
.gold {
	color: $colorPrimary;
}
