@import "@var";

.slider {
  display: flex !important;
  background-color: #60543d;

  &InitialBlock {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #60543d;

    &Text {
      line-height: 1.2;
      color: $colorWhite;
      max-width: 100px;
      font-size: 14px;

      @media (min-width: 375px) {
        max-width: 150px;
        font-size: 19px;
      }

      @media (min-width: 768px) {
        max-width: 200px;
        font-size: 26px;
      }

      @media (min-width: 1440px) {
        font-size: 36px;
        max-width: 300px;
      }
    }
  }

  &Slide {
    padding: 0px 0px 40% 0px;

    @media (min-width: 768px) {
      padding: 0px 0px 35% 0px;
    }

    @media (min-width: 834px) {
      padding: 0px 0px 30% 0px;
    }

    @media (min-width: 1024px) {
      padding: 0px 0px 20% 0px;
    }

    @media (min-width: 2560px) {
      padding: 0px 0px 13% 0px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &Description {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    max-height: 40px;
    padding: 10px;
    gap: 10px;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.168) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );

    @media (min-width: 375px) {
      max-height: 50px;
    }

    @media (min-width: 768px) {
      max-height: 70px;
    }

    @media (min-width: 1024px) {
      max-height: 80px;
      padding: 20px;

      &.show {
        max-height: 250px;
      }
    }

    &Title {
      color: #fff;
      font-size: 14px;
      font-weight: 500;

      @media (min-width: 375px) {
        font-size: 24px;
      }

      @media (min-width: 768px) {
        font-size: 33px;
      }
    }

    &Text {
      color: #fff;
      font-size: 14px;

      @media (min-width: 375px) {
        font-size: 14px;
      }

      @media (min-width: 768px) {
        font-size: 23px;
      }
    }
  }
}
