@import '../../../app/style/variables';

.dr {
  margin: 86px 0;
  &__container {
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 32px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
  }
  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__content {
    display: flex;
    align-items: flex-start;
    gap: 36px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
