@import "@mixin";

.estates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
}

.viewMore {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  @include tablet {
    margin-top: 20px;
  }
  @include mobile {
    margin-top: 20px;
  }
}
