@import "@var";
@import "@mixin";

.backgroundColorFilter {
  background: #4c4c4c;
}

.backgroundColorForm {
  background: $colorGray400;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 25px;

  user-select: none;
  cursor: pointer;

  svg {
    transition: transform 0.3s ease;
  }

  &Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    padding: 10px 25px;
  }

  &.active &Content {
    z-index: 100;

    svg {
      transform: rotateZ(180deg);
    }
  }

  &.active .option {
    max-height: none;
  }
}

.option {
  position: absolute;
  top: calc(100% - 22px);
  left: 0;
  max-height: 0;
  width: 100%;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  z-index: 99;

  &Item {
    padding: 10px 25px;
    &.shape {
      clip-path: polygon(
        0 0,
        7% 0,
        7% 46%,
        50% 46%,
        93% 46%,
        93% 0,
        105% 0,
        105% 46%,
        105% 105%,
        51% 105%,
        0 105%,
        0 47%
      );
    }
  }

  .selected {
    background: #3f3f3f;
  }
}

.optionItem:hover {
  background: #5f5f5f;
}
