@import "@var";

.language {
  width: 86px;
  position: relative;
  cursor: pointer;
  &Placeholder {
    display: flex;
    align-items: center;
    gap: 4px;
    text-transform: uppercase;
  }
  &Options {
    position: absolute;
    top: 44px;
    z-index: 9999;

    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $colorBackgroundSelect;
    border-radius: 0px 0px 25px 25px;
    overflow: hidden;
  }
  &Option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    width: 100%;
    text-transform: uppercase;
    &:hover {
      background-color: $colorPrimary;
    }
  }
}
