@import '@styles';

.menuDropdown {
	background-color: $colorGray500;
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 999;
	&Container {
		display: flex;
		gap: 16px;
	}
	&.open {
		visibility: visible;
	}
	&.close {
		visibility: hidden;
	}
}
