@import "@var";

.menuBanner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px 0 16px 16px;
  width: 75%;
  &Top {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 16px;
  }
  &Content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    width: 100%;
  }
  &Description {
    overflow: hidden;
  }
  &Image {
    width: 386px;
    height: 386px;
  }
}
