@import "@var";
@import "@mixin";

.cityList {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  ::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.cityList.mobile {
  padding-left: 20px;
  padding-top: 16px;
  /* wtf: next line doesn't work! */
  /* color: $colorPrimary !important; */
}

.cityName:hover,
.cityName.active {
  color: $colorPrimary;
}
