@keyframes letter-slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.letter {
  display: inline-block;
  animation: letter-slide-in 0.5s ease-out forwards;
}

@keyframes line-slide-down {
  0% {
    height: 0;
    transform: translateY(-30px);
  }
  100% {
    height: 262px;
    transform: translateY(0px);
  }
}

@keyframes text-slide-in {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes line-and-text-slide-in {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.HeroHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-image: url('');
  background-size: cover;
  background-position: center;
  padding-left: 20%;

  .HeroHomeText {
    color: white;
    .white {
      border-left: 2px solid white;
      height: 262px;
      position: absolute;
      left: 50%;
      margin-left: -355px;
      top: 0;
      animation: line-slide-down 4s ease-out;
    }

    h1 {
      font-size: 90px;
      margin-bottom: 10px;
      opacity: 0;
      animation: text-slide-in 0.5s ease-out 0.5s forwards;
    }

    p {
      font-size: 28px;
      font-weight: 600;
      position: relative;
      opacity: 0;
      animation: text-slide-in 1s ease-out 1s forwards;
    }

    button {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center horizontally */
      justify-content: center; /* Center vertically */
      margin-top: 51px;
      position: relative;
      opacity: 0;
      width: 258px;
      height: 60px; /* Set the height as needed */
      animation: text-slide-in 1.5s ease-out 1.5s forwards;
    }

    span {
      color: #C6A15B;
    }
  }
}

.HeroHomeText .line-and-text {
  animation: line-and-text-slide-in 2s ease-out 0.5s forwards;
}
