@import "@var";
@import "@mixin";

$colorGray350: #ccc; // Assuming this is a valid color

@keyframes letterSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lineSlideDown {
  0% {
    height: 0;
    transform: translateY(-30px);
  }
  100% {
    height: 262px;
    transform: translateY(0px);
  }
}

@keyframes textSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes lineAndTextSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.sectionHero {
  margin: 0;
}

.heroHome {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: min(70vh, 700px);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: #4c4c4c;
  @include tablet {
    height: 50vh;
  }
  @include mobile {
    height: 30vh;
  }
}

.heroHomeBackground {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.heroHomeContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 52px;
  @include tablet {
    gap: 32px;
    left: 12%;
  }
  @include mobile {
    gap: 12px;
    left: 8%;
  }
}

.heroHomeContent {
  width: 100%;
  position: absolute;

  button {
    position: relative;
    opacity: 0;
    animation: textSlideIn 1.5s ease-out 1.5s forwards;
  }
  span {
    color: $colorPrimary;
  }
}

.heroHomeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  h1 {
    opacity: 0;
    animation: textSlideIn 0.5s ease-out 0.5s forwards;
  }
  p {
    position: relative;
    opacity: 0;
    animation: textSlideIn 1s ease-out 1s forwards;
  }
}

.heroHomeFilterSubsection {
  height: 48px;
  position: relative;
  @include tablet {
    height: 80px;
  }
  @include mobile {
    height: auto;
  }
}

.heroHomeFilterWrapperContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  @include mobile {
    position: static;
  }
}

.heroHomeContent.lineAndText {
  animation: lineAndTextSlideIn 2s ease-out 0.5s forwards;
}
