@import "../../../app/styles/assets/variables";

.HeroEstates {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.HeroEstatesContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.content {
  white-space: pre-line;
}
