@import "../../../app/styles/assets/variables";

.HeroEstates {
  display: flex;
  flex-direction: column;
  gap: 56px;
  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    p {
      text-align: center;
    }
  }
}
