@import "@var";
@import "@classes";

.body {
  // height: 440px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: minmax(0, 440px);
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  height: 100%;
}

.description {
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  overflow-y: hidden;
}

.descriptionShade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    to top,
    $colorGray400,
    $colorGray400 10%,
    transparent
  );
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
