.Sliders{
  display: flex;
  gap: 15px;
  position: absolute;
  &Card{
    text-align: center;
    width: 100px;
    img{
      border-radius: 50px;
      width: 400px;
    }
    p{
      position: relative;
      top: -60px;
      font-size: 30px;
      font-weight: 800;
    }
  }
}