@import '../../../app/style/variables';

.details {
  margin: 82px 0;
  &__container {
    max-width: 1170px;
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h2 {
      font-size: $font-size-h2;
      line-height: $line-height-h2;
      font-weight: $font-semibold;
      color: $black;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 32px;
    @media all and (max-width:479.98px){
      display: flex;
      flex-direction: column;
    }
  }
  &__image {
    height: 520px;
    width: 100%;
    background-color: $gray;
    border-radius: 24px;
    img {
      border-radius: 24px;
      height: 100%;
      width: 100%;
    }
    @media all and (max-width: 390px){
      height: 420px;
    }
  }
  &__right {
    width: 100%;
    p {
      font-size: 18px;
      line-height: 31.89px;
    }
  }
}
