@import '../../../app/style/variables';
@import '../../../app/style/mixins';

.ha {
  margin: 26px 0 86px 0;
  &__container {
    max-width: 1170px;
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }
  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      h1 {
        font-size: $heading3-font-size;
      }
    }
  }
  &__button_home {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include tablet {
      position: relative;
      transform: none;
    }
  }
  &__select {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_input {
      width: 100%;
      min-width: 360px;
      border: 1px solid $system-gray;
      border-radius: 16px;
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 16px 0px 16px 24px;
      flex: 1 1 50%;
      color: $black;

      input {
        width: 100%;
      }
    }
    @include tablet {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 16px;
      width: 100%;
    }
  }
}
