#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: $base-font-family;
}

[class*='__container'] {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: $container-padding;
}

%smoothscroll {
  -webkit-overflow-scrolling: touch;
}

%hidescroll {
  &::-webkit-scrollbar {
    display: none;
  }
}
