#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: $font-main;
}

[class*='__container'] {
  max-width: 1170;
  box-sizing: content-box;
  margin: 0px auto;
  padding: 0px 32px;
}

%smoothscroll {
	-webkit-overflow-scrolling: touch;
}

%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}
