// colors
$white:    #fff !default;
$black:    #000 !default;
$green:    #26925e !default;
$gray:     #b9bcbe !default;
$background-footer: #697077 !default;

$font-main: 'Montserrat', sans-serif;

// font-size headlines
$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h3: 32px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 18px;
$font-size-p: 16px;

// font line-height headlines
$line-height-h1: 80px;
$line-height-h2: 64px;
$line-height-h3: 48px;
$line-height-h4: 36px;
$line-height-h5: 30px;
$line-height-h6: 28px;
$line-height-p: 24px;

// font weight headlines
$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;
$font-regular: 400;

// width & container
$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1170px;
$container-padding: 32px;

// first breakpoint trigger width
$container-width: $max-width-container + $container-padding;

// break point
$pc: em($container-width);
$tablet: em(991.98);
$mobile: em(767.98);
$small-mobile: em(479.98);