@import '../../app/style/variables';

.button {
  display: flex;
  align-items: center;
  gap: 12px;
  background: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
  &--primary {
    background-color: $green;
    padding: 14px 36px;
    color: $white;
    text-decoration: none;
  }
  &--secondary {
    background-color: $black;
    padding: 14px 36px;
    color: $white;
  }
  &--icon {
    padding: 14px 14px;
    background-color: transparent;
    color: $black;
  }
  &--link {
    display: flex;
    width: 100%;
    justify-content: center;
    color: $black;
  }
}
