@import '../../app/style/variables';

.button {
  display: flex;
  align-items: center;
  gap: 12px;
  background: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
  &--primary {
    background-color: $green;
    padding: 14px 36px;
    color: $white;
  }
  &--secondary {
    background-color: $black;
    padding: 14px 36px;
    color: $white;
  }
  &--icon {
    padding: 14px 14px;
    background-color: transparent;
    color: $black;
  }
  @media all and (max-width: 479.98px) {
    block-size: 37px;
    border-radius: 50px;
    box-shadow: 0.10000000149011612px 1px 8px 0px #3FB12D;

    p{
      display: none;
    }
  }
}
