@import "@var";
@import "@mixin";

.filter {
  width: 100%;
  background: $colorGray400;
  border-radius: 15px;
  padding: 40px;
  margin: 0 auto;
  box-shadow: -0px 8px 12px 0 rgba(0, 0, 0, 0.22);
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
  @include tablet {
    padding: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include mobile {
    border-radius: 0;
    padding: 15px;
    box-shadow: none;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
