@import '../../../app/style/variables';
* {
  text-decoration: none;
}

.product {
  &-card {
    width: 358px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
  }
  &-image {
    width: 100%;
    height: 236px;
    img {
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 16px 16px 0 0;
    }
  }
  &-details {
    display: flex;
    flex-direction: column;
  }
  &-caption {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 16px;
  }
  &-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    border-top: 1px solid $system-gray-06;
  }
}
