.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 52px;
	margin: 100px 0;
	width: 100%;
	&Container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 52px;
		width: 100%;
	}
	&Default {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 52px;
	}
	&Content {
		width: 100%;
	}
}
