@import "@mixin";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
    width: 100%;
    @include tablet {
      gap: 20px;
    }
    @include mobile {
      gap: 20px;
    }
  }
  &Hero {
    margin: 0;
    @include tablet {
      gap: 20px;
    }
    @include mobile {
      gap: 20px;
    }
  }
  &Default {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
    width: 100%;
  }
  &Content {
    width: 100%;
  }
}
