.objectCard {
  width: 380px;
  height: 520px;
  margin-left: 50px;
  .imageContainer {
    position: relative; // Добавлено
    height: 312px;
    width: 380px;
    .buttonSliderPrev,
    .buttonSliderNext {
      width: 36px;
      height: 36px;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      font-size: 2em;
      cursor: pointer;
      display: flex; // Добавлено
      align-items: center; // Добавлено
      justify-content: center; // Добавлено
    }

    .buttonSliderPrev {
      left: 10px;
    }
    .buttonSliderNext {
      right: 10px;
    }
  }

  .imageContainerReal {
    margin-left: -16px;
    width: 380px;
    height: 312px;
    object-fit: cover;
    display: block;
  }

  .content {
    position: relative;
    bottom: 0; /* Corrected line */
    left: 0;
    padding: 20px;
    height: 188px;
    background-color: #1b1b1b;
    border-radius: 0 0 25px 25px;

    .content_1 {
      height: 133px;
      width: 380px;

      h1 {
        font-size: 28px;
        margin-bottom: 10px;
      }

      p {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }

    .content_2 {
      height: 55px;
      width: 380px;
      margin-left: -20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .button_1 {
        font-size: 24px;
        font-weight: 600;
        color: white;
        height: 47px;
        width: 380px;
        box-sizing: border-box;
        border-radius: 0 0 25px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    h1,
    p,
    h2 {
      margin: 0;
    }

    h1 {
      font-size: 28px;
      font-weight: 500;
    }

    .price {
      font-size: 20px;
      font-weight: 500;
      color: #c6a15b;
    }

    button {
      height: 55px;
      background-color: #c6a15b;
    }
  }
}
.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot,
.activeDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ddd;
  margin: 0 5px;
}

.activeDot {
  background: #fff;
}
