@import '../../app/style/variables';

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__img {
    height: 446px;
    width: 372px;
    background-color: $system-gray;
    img {
      height: 100%;
      width: 100%;
      background-size: cover;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &_top {
      display: flex;
      flex-direction: column;
      gap: 6px;
      h4 {
        font-size: $fsz-mb-headline;
        line-height: $lh-mb-headline;
        font-weight: $font-regular;
      }
    }
    &_bottom {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
  &__divider {
    width: 100%;
    background-color: $system-gray;
    height: 1px;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__button_wrapper {
    display: flex;
    align-items: center;
    border: 1px solid $system-gray;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    width: 100%;
    border-right: 1px solid $system-gray;
  }
}
