@import '../../app/style/variables';

.search {
  width: 100%;

  &__container {
    display: flex;
    min-height: 60px;
    gap: 2px;
    @media all and (max-width: 479.98px){
      display: grid;
      gap: 15px;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 40px 0 0 40px;
    padding: 0 24px;
    gap: 4px;
    background: $white;
    @media all and (max-width: 479.98px){
      border-radius: 20px;
      padding: 20px;
      box-shadow: 0px 2.594665050506592px 2.594665050506592px 0px #00000040;
    }
  }

  &__input {
    width: 100%;
    &::placeholder {
      color: $gray;
    }
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $gray;
    width: 40%;
    padding: 0 24px;
    background: $white;
    cursor: pointer;
    @media all and (max-width: 479.98px){
      display: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 0 40px 40px 0;
    background: $white;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 0 24px;
    &:hover {
      background: $white;
    }
    @media all and (max-width: 479.98px){
      height: $line-height-h2;
      border-radius: 20px;
      background: rgba(175, 175, 175, 0.5);
    }
  }
  @media all and (max-width: 479.98px){
    &__icon{
      width: 35px;
    }
  }
}
