@import '../../app/styles/index.scss';

.navbar {
	display: flex;
	align-items: center;
	gap: 32px;
	&__menu {
		display: flex;
		align-items: center;
		gap: 36px;
		list-style: none;
	}
	&__menu_item {
		cursor: pointer;
		a {
			text-decoration: none;
			color: $colorWhite;
		}
		:hover {
			color: $colorPrimary;
		}
	}
}
