@import "@var";

.navbar {
  display: flex;
  align-items: center;
  gap: 32px;
  &Menu {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
  }
  &MenuSelect {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &MenuItem {
    padding: 18px 24px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $colorWhite;
    }
    :hover {
      color: $colorPrimary;
    }
  }
}
