@import "@var";
@import "@mixin";

.navbar {
  display: flex;
  align-items: center;
  gap: 32px;
  &Menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 16px;
    list-style: none;
    @include isDesktop {
      height: 60px;
      flex-direction: column;
      padding: 0;
      align-items: flex-start;
    }
    @include tablet {
      flex-direction: column;
      padding: 0;
      align-items: flex-start;
    }
    @include mobile {
      flex-direction: column;
      padding: 0;
      align-items: flex-start;
    }
  }
  &MenuSelect {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &MenuItem {
    cursor: pointer;
    height: 60px;
    display: flex;
    align-items: center;

    svg {
      transition: 0.3s ease;
      @include tablet {
        width: 18px;
      }
      @include mobile {
        width: 14px;
      }
    }

    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 400;
      color: $colorWhite;
      @include isDesktop {
        font-size: 24px;
      }
      @include tablet {
        font-size: 14px;
      }
      @include mobile {
        font-size: 14px;
      }
    }

    @include isDesktop {
      padding: 0;
      p {
        font-size: 24px;
      }
    }
    @include tablet {
      height: unset;
      font-size: 14px;
      padding: 0;
    }
    @include mobile {
      font-size: 14px;
      padding: 0;
    }
    :hover {
      cursor: pointer;
      color: $colorPrimary;
    }

    &.active svg {
      transform: rotateZ(180deg);
    }
  }

  @include isDesktop {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  @include tablet {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  @include mobile {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
}
