@import "@var";
@import "@mixin";

.navbar {
  display: flex;
  align-items: center;
  gap: 32px;
  &Menu {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    @include tablet {
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
    }
    @include mobile {
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
    }
  }
  &MenuSelect {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &MenuItem {
    padding: 18px 24px;
    cursor: pointer;

    &.city2 {
      display: none;
    }

    @include tablet {
      &.city1 {
        display: none;
      }
      &.city2 {
        display: block;
      }
      padding: 0;
    }
    @include mobile {
      &.city1 {
        display: none;
      }
      &.city2 {
        display: block;
      }
      padding: 0;
    }
    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 400;
      color: $colorWhite;
      @include tablet {
        font-size: 14px;
      }
      @include mobile {
        font-size: 14px;
      }
    }
    svg {
      transition: transform 0.3s ease;
    }
    :hover {
      color: $colorPrimary;
    }
    &.active svg {
      transform: rotateZ(180deg);
    }
  }

  @include tablet {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  @include mobile {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
}
