@import '../../app/styles/index.scss';

.nav {
  @include mobile {
    display: none;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__item {
    cursor: pointer;
    font-size: $base-font-size;
  }
  &__text {
    color: $white;
    a {
      font-size: $base-font-size;
      text-decoration: none;
    }
  }
}

@include tablet {
  .nav__item:nth-child(4) {
    display: none;
  }
}
