@import '../../app/style/mixins';

.nav {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__item {
    cursor: pointer;
  }
  &__text {
    color: $white;
  }
}
@include tablet {
  nav {
    display: none;
  }
}
