@import '@styles';

.form {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 400px;
  padding: 20px;
  border-radius: 3px;
  gap: 20px;
  background-color: $colorGray500;
  h2 {
    color: $colorPrimary;
    font-size: 32px;
  }
  p {
    color: white;
    font-size: 28px;
  }

  input {
    margin-top: 20px;
    color: $colorWhite;
    width: 460px;
    background: $colorGray400;
    border: 0.5px solid $colorGray450;
    border-radius: 56px;
    padding: 16px 24px;
    outline: none;
    transition: 0.3s ease;
    font-weight: 500;
    @include Body;
    @include tablet {
      @include MBody;
    }
    &::placeholder {
      border: none;
    }
    &:hover {
      background-color: $colorGray450;
    }
    &:focus {
      background-color: $colorGray550;
      border: 0.5px solid $colorGray400;
    }
  }

  &Inputs {
    display: flex;
  }
  &Button {
    align-self: end;
  }
}
