@import '@styles';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;
  gap: 20px;
	background-color: $colorGray500;
  padding: 40px 100px;
  &Title {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &Inputs {
    width: 100%;
    display: flex;
    gap: 16px;
  }
  &Input {
    width: 100%;
  }
  &Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &Button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
}
