@import "@var";
@import "@mixin";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 40px;
}

.navbar.mobile {
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.inheritColor {
  color: inherit;
}

.navLink {
  color: $colorWhite;
}

.navbarItemText:hover,
.activeNavLink {
  color: $colorPrimary;
}

.cityButton {
  display: flex;
  gap: 5px;
  align-items: center;
}

.chevron {
  transition: transform 300ms ease-in-out;
}

.chevronActive {
  transform: rotateZ(-180deg);
}

.sellButton {
  cursor: pointer;
}
