@import "@var";
@import "@mixin";
.error {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
  padding: 30px;
  &Title {
    font-size: 90px;
    margin-top: 20px;
  }
  &Text {
    font-size: 24px;
  }

  @include tablet {
    &Title {
      font-size: 28px;
    }
    &Text {
      font-size: 16px;
    }
  }
  @include mobile {
    &Title {
      font-size: 28px;
    }
    &Text {
      font-size: 16px;
      margin: 20px;
    }
  }
}
