@import "@var";
@import "@mixin";
.error {
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.content {
  max-width: 700px;
  text-align: center;
  display: block;
  margin: 30px;
}
.errorNumber {
  font-size: 90px;
  @include tablet {
    font-size: 28px;
  }
}
.errorTitle {
  font-size: 90px;
  margin: 20px;
  @include tablet {
    margin: 10px;
    font-size: 28px;
  }
}
.errorText {
  font-size: 24px;
  @include tablet {
    font-size: 16px;
  }
}
