@import "../../app/styles/assets/variables";
@import "../../app/styles/assets/classes";
@import "../../app/styles/assets/mixins";

.features {
  background-color: $colorGray500;
  padding: 40px 0;
  &Container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
    @include tablet {
      display: grid;
      grid-template-columns: auto auto;
      gap: 16px;
    }
  }
  &Item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    border: 1.5px solid $colorGray350;
    border-radius: 6px;
    padding: 6px;
  }
}
