@import "../../app/styles/assets/variables";

.features {
  background-color: $colorGray500;
  padding: 40px 0;
}

.featuresContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 16px;
}

.featuresItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  border: 1.5px solid $colorGray350;
  border-radius: 6px;
  padding: 6px;
}
