.checkboxWrapper {
  pointer-events: none;

  .check {
    display: flex;
    align-items: center;
    padding-inline-start: 1.2rem;

    &Input {
      position: absolute;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    p {
      margin-inline-start: 10px;
    }

    svg {
      position: absolute;
      margin-inline-start: -1.2rem;
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
